body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #D7D7D7;
    color: #333;
    position: relative; /* Needed for absolute positioning of ::before and ::after */
    overflow-x: hidden;
}


.logo img {
    height: 64px;
    width: auto;
}

header {
    color: #d7d7d7; 
    padding: 20px;
    position: relative;
    overflow: hidden; 
    background-color: transparent;
    height: 600px;
    width: 100vw;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(110deg, #d7d7d7 50%, #000000 50%);
    z-index: -2; /* Behind the header content */
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(36, 35, 35, 0.144) 0%, transparent 20%, transparent 60%, rgba(255, 255, 255, 0.130) 90%);
    z-index: -1; /* Behind ::before and content */
}

.dark-banner {
    display: flex; /* Enable flexbox for the banner */
    align-items: center; /* Vertically align text and image */
    justify-content: space-between; /* Push text to the left and image to the right */
    padding: 80px;
    overflow: hidden; 

    background-color: #222; 
    color: #fff; 
    text-align: left; 
    height: 250px;
    width: 100vw;
}

.dark-banner .db-info {
    /* Styles for the text content */
    flex-grow: 1; /* Allow text to take up available space */
    margin-right: 150px; /* Add some space between text and image */
    color: #D7D7D7;
}

.dark-banner img {
    /* Styles for the image */
    width: 400px; /* Adjust image size as needed */
    height: auto;
    opacity: 40%;
    
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border: 2px solid #d7d7d7;
    border-radius: 24px;
    padding: 5px;
    
}

nav li {
    margin-left: 30px; /* Space between navigation links */
}

nav li:first-child {
    margin-left: 0; /* Remove left margin from the first link */
}
nav li:last-child {
    padding-right: 15px;
}

nav li a {
    color: #d7d7d7;
    text-decoration: none;
    margin-left: 20px;
    
}

.hero {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0%;
    display: flex;
    align-items: center;
    max-width: relative;
    margin: 0 auto;
}

.hero-info {
    flex: 1;
    right: 5%;
    margin-right: 20px;
    color: #222;
    line-height: 1;
    font-size: large;
    white-space: nowrap; /* Prevent text from wrapping */
    width: 400px;
    margin-bottom: 75px;
}

.hero-info p{
    color: #585858;
    font-weight: 600;
    font-size: medium;
    margin-bottom: 50px;

}

.hero-info .social-links {
    display: flex; /* Arrange children (<a> tags) horizontally */
    align-items: center; /* Vertically align icons in the container */
    margin-top: 20px; /* Add some space above the icons */
}

.hero-info .social-links a {
    margin-right: 30px; /* Add spacing between icons */
}

.hero-info .social-links a:last-child {
    margin-right: 0; /* Remove margin from the last icon */
}

.hero-info .social-links img {
    width: 32px; /* Adjust this value */
    height: auto;
    display: block;
    
}

.hero img {
    left: 5%;
    height: 500px;
    width: auto;
}

.about-section, .skills-section, .portfolio-section, .contact-section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-section p{
    padding: 50px;
    font-size: large;
    text-align: justify;
}
.about-section button{
    font-family: 'Poppins', sans-serif;
    border-radius: 24px;
    color: #d7d7d7;
    background-color: #222222;
    padding: 10px;
}

.skills-section .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Adjust minmax for icon size */
    gap: 50px;
    margin-top: 50px;
    text-align: center; /* Center the content within each grid cell */
}

.skills-section .skills-grid .skill-item {
    display: flex; /* Arrange image and text vertically */
    flex-direction: column;
    align-items: center; /* Center image and text horizontally */
}

.skills-section .skills-grid .skill-item img {
    width: 64px; /* Adjust icon width as needed */
    height: auto;
    margin-bottom: 5px; /* Add some space between the image and text */
    display: block; /* Prevent extra space below inline images */
    border-radius: 8px;
}

.skills-section .skills-grid .skill-item span {
    font-size: 0.9em; /* Adjust text size if needed */
}

.skills-section p{
    margin-top: 50px;
    font-size: large;

}


.portfolio-section .portfolio-grid {
    display: grid; /* This is the crucial line */
    grid-template-columns: repeat(4, 2fr); /* Creates 4 columns */
    grid-template-rows: repeat(3, 1fr); /* Creates 3 rows (height will be determined by aspect ratio) */
    gap: 20px;
    margin-top: 20px;
}

.portfolio-section .portfolio-grid .portfolio-item {
    aspect-ratio: 16 / 9;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.portfolio-section .portfolio-grid .portfolio-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-section p {
    margin-top:50px;
    margin-bottom: 50px;
    padding-bottom: 25px;
    font-size: large;
    font-weight: 500;
    border-bottom: 2px solid #222;

}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px auto;
}

.contact-form input, .contact-form textarea, .contact-form button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100vw;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.border{
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.border h2{
    border: 4px solid #222222; /* 2px thick, solid black border */
    border-radius: 48px;
    padding: 10px;
    letter-spacing: 5px;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontal center */
    align-items: center;
    
}

.contact-section .callcard{
    background-color: #000000;
    border-radius: 24px;
    height: 400px;
    width: 600px; 
    margin-top: 50px;
    padding-top: 32px;
    

}

.contact-section .callcard img{
    height: 48px;
    width: auto;
}

.contact-section .callcard p{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}